body{
    background-color: rgba(12, 74, 116, 0.7);
}
h1{
    text-align: center;
    color:rgb(255,255,255)
}
main {
    background-color: rgb(151, 183, 243);
}
#game-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    height: 80vh;
    margin: 0 auto;
}
.space{
    border: 5px black solid;
    text-align: center;
    padding: 1.2em;
    font-size: 4rem;
    background-color: rgb(151, 183, 243);
}
.space-active{
    padding: 0.7em;
}
.space:hover{
    background-color: #FFF;
}
.continue-hidden {
    position: fixed;
    text-align: center;
    margin: 0 auto;
    background-color: rgb(85, 63, 63, 0.90);
    color: rgb(252, 255, 74);
    width: 100vw;
    height: 100vh;
    z-index: 2;
    display:none;
}
.buttons {
    width: 25%;
    margin: 0 auto;
}
